.transaction-form {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(218,189,219,255);
  font-size: 1.5em;
  width: 75%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transaction-form h2 {
  text-align: center;
  margin: 15px;
}

.transaction-form div {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
  background-color: rgba(255,200,203,255);
}

.transaction-form div label {
  padding: 15px;
  margin-bottom: 15px;
  opacity: 0.65;
}

.transaction-form div input {
  padding: 15px 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-form div select {
  padding: 15px 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-submit {
  margin: 0px 15px;
  padding: 1em;
  background: rgb(76,100,154);
  color: hsl(0 0 100);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.transaction-submit:hover {
  background-color: rgb(165,155,196);
  cursor: pointer;
  filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));
}
