.transaction-form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 15px;
    background-color: lightgray;
    opacity: 0.65;
    border-radius: 20px;
    font-size: 2em;
    width: 75%;
    max-height: 75vh;
    overflow-y: auto;
}

.transaction-form div {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

.transaction-form div label {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: 0.65;
}

.transaction-form div input {
    padding: 15px 0px;
}

.transaction-form div select {
    padding: 15px 0px;
}

.transaction-submit {
    background-color: lightgreen;
    font-size: 1.5em;
    border-radius: 20px;
    margin-left: 15px;
    transition: all 0.2s ease 0s;
}

.transaction-submit:hover {
    background-color: lightseagreen;
    cursor: pointer;
    filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));
}