{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block header %}
<div class="page-wow">
    <h1 class="page-title">Home</h1>
    <p class="page-description">This is the home page.</p>
</div>
{% endblock %}

{% block content %}

<!-- welcome message -->
<div class="headsup">
    <h3>Welcome to TransactionAI!</h3>
    {% if total_transactions > 1 %}
    <p> Hey {{username}}, you have at this moment {{total_transactions}} transactions! </p>
    {% else %}
    <p> Hey {{username}}, you have at this moment {{total_transactions}} transaction! </p>
    {% endif %}
</div>

<!-- display transactions -->
{% if df.shape[0] == 0 %}
<div class="warning">
    <h3>Warning</h3>
    <p>You have no transactions at the moment!</p>
</div>
{% else %}
<div class="table-wrapper">
    <table class="transaction_table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Items</th>
                <th>Subtotal</th>
                <th>Taxes</th>
                <th>Total</th>
                <th>Category</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in df.iterrows() %}
            <tr>
                <td>{{ row['Datetime']}}</td>
                <td>{{ row['Items'] }}</td>
                <td>{{'%0.2f' | format(row['Subtotal']) }}</td>
                <td>{{'%0.2f' | format(row['Taxes']) }}</td>
                <td>{{'%0.2f' | format(row['Total']) }}</td>
                <td>{{ row['Category'] }}</td>
                <td>{{ row['Payment Method'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<!-- Display graphs -->
{% if graphs %}
<div class="graph-container">
    <h2>Transaction Graphs</h2>
    {% for graph in graphs %}
    {{ graph|safe }}
    {% endfor %}
</div>

{% endif %}

{% endblock %}