<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FinanceProject: {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graphing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transaction_logging.css') }}">

</head>

<body>
    <header class="nav_header">
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <nav>
            <ul class="nav_links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('transaction_log') }}">Transaction Logging</a></li>
                <li><a href="{{ url_for('transaction_graphing') }}">Transaction Graphing</a></li>
                <li><a href="">AI-Ask</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            </ul>
        </nav>
        <a class="cta" href="{{ url_for('logout') }}"><button class="logout_button">Logout</button></a>
    </header>
    <main class="main-content" style="background-image: url('{{ url_for('static', filename='images/main-page.svg') }}');">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{category}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>