<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_styling.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/transaction_logging.css') }}">
  <title>TransactionAI: Login</title>
</head>

<body>
  <div class="page-wow">
    <h1 class="page-title">TransactionAI</h1>
    <p class="page-description">
      Welcome to our CISC-3140 Project, please login to access our services!
    </p>
  </div>

  <main class="lr-main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{category}}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="transaction-form">
      <h2>Login</h2>

      <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <div>
          {{ form.username.label }}
          {{ form.username(size=20) }}
        </div>
        <div>
          {{ form.password.label }}
          {{ form.password(size=20) }}
        </div>
        <input class="transaction-submit" type="submit" value="Go">
      </form>
    </div>
    <div class="lr-question">
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
  </main>
</body>

</html>